.img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    padding: 2.5%;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 2.5%;
    max-width: 600px;
    margin: 5%;
}

/* img {
    max-width: 220px;
    max-height: 150px;
} */

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}